<!DOCTYPE html>
    <html>
    <head th:replace="common/template :: head">
    </head>
    <body>
        <div class="wrapper">
            <div class="header" th:replace="common/template :: header">
            </div>
            <div class="body">
                <h2>Projekty</h2>
                <div class="elements projects" th:each="project: ${projects}">
                    <div class="element">
                        <a class="main" href="project.html" th:href="@{'/project/show?id=' + ${project.id}}" th:text="${project.projectName}">name</a>
                        <a class="delete" href="#">Usuń</a>
                    </div>
                </div>
                <div class="element action">
                    <a class="main" href="#">+ Nowy etap</a>
                </div>
            </div>
            <div class="footer" th:replace="common/template :: footer">
            </div>
        </div>
    </body>
</html>